* {
  font-family: Courier New;
}

div.box-js-lua-code {
  margin: 0 auto;
  width: 90%;
}

textarea#js_lua_code {
  min-width: 99%;
  max-width: 99%;
  min-height: 300px;
  margin: 20px auto;
}
